body, html{
    margin:0;
    padding:0;
    height: 100%;
    overflow: auto; /* overflow: hidden; prevents scrolling completely if used alone */
    overscroll-behavior: contain;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
    display: inline;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* use align-self for specific item */
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}

.center {
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.bg-dark {
    background-color: black;
    color: white;
}

#profilephoto {
    height: auto;
    width: 90%;
    border-radius: 50%;
    display: block;
    margin: auto;
    pointer-events: none;
}

.bigger, .smaller {
    display: flex;
    flex-wrap: wrap;
    /*padding: 5% 4% 5% 4%;*/
    justify-content: space-around;
}

.bigger {
    width: 67%;
    flex: 3 3 500px; /* flex: grow shrink basis */
}

.smaller{
    width: 33%;
    flex: 1 1 200px; /* flex: grow shrink basis */
    text-align: center;
}

.logo {
    width: 70%;
    height: auto;
    pointer-events: none;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subheading {
    margin-right:0;
    padding: 0;
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

.jd {
    font-size:large;
    text-align:left;
    font-family: monospace;
    display: inline;
}

.link:hover {
    color: darkblue;
}

.link {
    color:inherit;
}

.link-dark:hover {
    color: cyan;
}

.project {
    padding:0;
    margin:0;
}

.soc {
    margin-top: 3%;
    margin-bottom: 10%;
}

.logobox, .descbox {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: left;
}

.text {
    text-align: center; 
    display: inline-block;
    margin: auto;
}

@media (min-width: 9.95in) {
    @keyframes heartbeat {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.25);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes twinkle {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
        100% {
            opacity: 1;
        }
    }

    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid white;
        position: absolute;
        top: 7px;
        left: 50%;
        right: 50%;
    }

    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
        position: absolute;
        bottom: 7px;
    }

    .arrow-up, .arrow-down {
        margin: auto;
        left: 50%;
        right: 50%;
        animation: heartbeat 1s ease-in-out 0.3s;
        animation-iteration-count: infinite;
    }

    .arrow-up:hover, .arrow-down:hover {
        color: cyan;
    }

    .down-black {
        border-top: 20px solid black;
    }

    .up-black {
        border-bottom: 20px solid black;
    }
    
    .button-zone {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 16px 0px 7px 0px;
        align-self: stretch;
    }
}

@media (max-width: 9.94in) {
    .button-zone {
        display: none;
    }

    #profilephoto {
        height: 50vh;
        width: auto;
    }

    .bigger, .smaller {
        padding: 5% 5% 5% 5%;
    }

    .subheading {
        height: 1em;
        width: auto;
        align-self: left;
    }
    .container {
        height: auto;
    }
}

@media (max-width: 5.75in) {
    .soc {
        margin-top: 0;
        margin-bottom: 0;
    }
    .logobox, .descbox {
        width: 260px;
        height: auto;
        margin-top: 10%;
        justify-content: center;
    }
    .descbox {
        text-align: center;
    }
    .company {
        width: 80vw;
        height: auto;
    }
}

@media (max-width: 5.52in) {
    .logo {
        width: 60vw;
        height: auto;
    }

    h1 {
        font-size: auto;
    }

    .container {
        height: auto;
    }
}